body {
  height: 95vh;
  width: 95vw;
  background-image: url('./otherFiles/gridBackground2.jpg');
  background-size: auto 100%;
}

/* -content placement- */
/* #region */
#mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 4vw;
  padding-right: 4vw;
}

#todoActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

#todoActions button {
  min-height: 6%;
}

.todoControls {
  padding: calc(60px);
  padding-top: 20px;
  justify-content: space-between;
  margin-top: -10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
}

.todoControls div {
  display: flex;
  flex-direction: column;
}

#todoTools,
#todoActions,
#todoControls {
  justify-content: center;
  align-items: center;
}

.todoList {
  overflow: auto;
}

#bottomBtns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.matrixItem {
  display: flex;
  justify-content: space-between;
}

.todoItemLeftContainer {
  display: flex;
}

.dateDiv {
  font-weight: bold;
}

/* #endregion*/

/* -sizing-*/
/* #region */
#todoControls {
  width: 35%;
}

#todoTools,
#todoActions {
  width: 300px;
  height: 48vh;
}

#todoOverview {
  max-width: 90%;
  max-height: 95vh;
  margin-left: 50px;
  width: 100%;
}

#todoOverview > *,
.todoList {
  height: 100%;
  width: 100%;
  min-height: 200px;
}

#topbarContainer {
  width: 100%;
  height: 100%;
}

#sidebarContainer {
  width: 100%;
  height: 100%;
}

.topbar {
  padding-left: 1em;
  height: 1em;
  width: auto;
}

.sidebar {
  width: 1em;
  height: 30%;
}

.lowersection {
  display: flex;
  height: 93%;
  align-items: center;
}

.todoControls {
  height: 90%;
}

.text {
  max-height: 10vh;
}
/* #endregion */

/* -backgrounds- */
/* #region */
#todoTools {
  background-image: url('./otherFiles/todoFrame1.png');
  background-size: 100% 100%;
}

#todoActions {
  background-image: url('./otherFiles/todoFrame2.png');
  background-size: 100% 100%;
}

/*container-relative placements*/
#todoOverview {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  align-items: start;
  justify-items: start;
}

#todoOverview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px; /* optional spacing */
  padding: 0px;
}

#topbarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#sidebarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* #endregion */

/* -media queries- */
/* #region */
@media only screen and (max-width: 1000px) {
  #todoControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #mainContent {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }

  #todoOverview {
    margin-left: 0px;
    margin-top: 30px;
  }

  #todoOverview > * {
    min-width: 300px;
  }
}
/* #endregion */

/* -specific formatting- */
/* #region */
* {
  font-family: 'Courier New', Courier, monospace;
}

.todoControls button {
  border: 1px solid grey;
}

#todoOverview > * {
  border: 2px dashed grey;
}

button {
  font-weight: 700;
  font-size: medium;
}

button:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#todoActions button {
  padding: 7px;
}

#sidebar > * {
  text-orientation: upright;
}

.sidebar {
  width: 1em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.lowersection {
  display: flex;
  align-items: center;
}

.bar {
  text-align: center;
  font-weight: 700;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  line-height: 1.5em;
  background-color: hsla(67, 95%, 95%, 0.45);
  border-color: rgb(184, 184, 184);
}

button:not([disabled]):active {
  background-color: rgba(0, 0, 0, 0.6);
}

.label {
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  font-weight: 700;

  width: fit-content;
}

.topbar {
  margin-bottom: 2vh;
}

.sidebar {
  margin-right: 2vh;
}

.text {
  overflow: auto;
  margin: 3px;

  border-bottom: 1px solid grey;
}

.todoList {
  overflow: auto;
  height: 90%;
}

.todoControls {
  overflow: auto;
  background-color:;
}

.changeOrderFrame {
}

.orderBtn {
  border: 0px solid black;
  height: 1em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0.3em;
  margin-right: 0.2em;
}

/* #endregion */
